<body class="sticky-footer bg-light" id="page-top">
  <app-nav-visitor></app-nav-visitor>
  <div class="content-wrapper">
    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Changer de mot de passe</div>
        <div class="card-body">
          <div class="text-center mt-4 mb-5">
            <h4>Mot de passe oublié ?</h4>
            <p>Veuillez entrez le code que nous vous avons envoyé par mail.</p>
          </div>
          <form>
            <div class="form-group">
              <input class="form-control" name="register-code" type="text" placeholder="Veuillez saisir le code ici...">
            </div>
            <a class="btn btn-primary btn-block" routerLink="/renouveler-mot-de-passe"></a>
          </form>
          <form>
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputPassword1">Mot de passe</label>
                <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Nouveau mot de passe...">
              </div>
              <div class="col-md-6">
                <label for="exampleConfirmPassword">Confirmer le mot de passe</label>
                <input class="form-control" id="exampleConfirmPassword" type="password" placeholder="confirmez votre mot de passe...">
              </div>
            </div>            
            <button class="btn btn-primary btn-block connexion" type="submit" name="connexion" >Se connecter</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>