<body class="sticky-footer bg-dark" id="page-top">
  <app-nav-user></app-nav-user>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Profil</li>
      </ol>
      <!-- Icon Cards-->
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-comments"></i>
              </div>
              <div class="mr-5">2 nouveaux messages</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" routerLink="/messages">
              <span class="float-left">Voir les messages</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-list"></i>
              </div>
              <div class="mr-5">175 documents stockés</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" routerLink="/coffre">
              <span class="float-left">Voir les détails</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-success o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-check"></i>
              </div>
              <div class="mr-5">11 procédures terminées</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" routerLink="/procedures">
              <span class="float-left">Voir les détails</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-danger o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-support"></i>
              </div>
              <div class="mr-5">2 statuts doivent être vérifiés</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" routerLink="/statuts">
              <span class="float-left">Voir les détails</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
      <!-- ./End Icon Cards-->
      <!-- User Table Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Votre Profil
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="user-profil-table" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>Nom d'utilisateur</th>
                  <th>Date d'inscription</th>
                  <th>Adresse mail</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>Nom d'utilisateur</th>
                  <th>Date d'inscription</th>
                  <th>Adresse mail</th>
                </tr>
              </tfoot>
              <tbody>
                <tr>
                  <td>Tonton</td>
                  <td>Toto</td>
                  <td>toto</td>
                  <td>08/11/2017</td>
                  <td>toto@mail.com</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- User Table Card-->
    </div>
  </div>
  <!-- /.container-fluid-->
  <!-- /.content-wrapper-->
  <app-footer></app-footer>
</body>
