<body class="sticky-footer bg-light" id="page-top">
    <app-nav-user></app-nav-user>
    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/dashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Profil</li>
        </ol>
        <!-- User Table Card-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-table"></i> Votre Profil
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="status-table" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Type</th>
                    <th>Statut</th>
                    <th>Détail</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Type</th>
                    <th>Statut</th>
                    <th>Détail</th>
                    <th>Date</th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr>
                    <td>
                      <span class="text-success">
                        <i class="fa fa-long-arrow-up fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-success">
                        <strong>Mise à jour statut</strong>
                      </span>
                    </td>
                    <td>La procédure <strong>[Demande de carte grise]</strong> a été démarrée.</td>
                    <td>Aujourd'hui, 16:05</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-danger">
                        <i class="fa fa-long-arrow-down fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-danger">
                        <strong>Mise à jour statut</strong>
                      </span>
                    </td>
                    <td>La procédure <strong>[Demande d'extrait d'acte de naissance]</strong> a été suspendue.</td>
                    <td>Aujourd'hui, 15:08</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-success">
                        <i class="fa fa-long-arrow-up fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-success">
                        <strong>Mise en ligne document</strong>
                      </span>
                    </td>
                    <td>Votre document <strong>[CNI.pdf]</strong> a bien été envoyé à notre équipe.</td>
                    <td>Aujourd'hui, 16:08</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-success">
                        <i class="fa fa-long-arrow-up fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-success">
                        <strong>Mise à jour statut</strong>
                      </span>
                    </td>
                    <td>La procédure <strong>[Demande de carte grise]</strong> a été démarrée.</td>
                    <td>Aujourd'hui, 16:05</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-danger">
                        <i class="fa fa-long-arrow-down fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-danger">
                        <strong>Mise à jour statut</strong>
                      </span>
                    </td>
                    <td>La procédure <strong>[Demande d'extrait d'acte de naissance]</strong> a été suspendue.</td>
                    <td>Aujourd'hui, 15:08</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-success">
                        <i class="fa fa-long-arrow-up fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-success">
                        <strong>Mise en ligne document</strong>
                      </span>
                    </td>
                    <td>Votre document <strong>[CNI.pdf]</strong> a bien été envoyé à notre équipe.</td>
                    <td>Aujourd'hui, 16:08</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-success">
                        <i class="fa fa-long-arrow-up fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-success">
                        <strong>Mise à jour statut</strong>
                      </span>
                    </td>
                    <td>La procédure <strong>[Demande de carte grise]</strong> a été démarrée.</td>
                    <td>Aujourd'hui, 16:05</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-danger">
                        <i class="fa fa-long-arrow-down fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-danger">
                        <strong>Mise à jour statut</strong>
                      </span>
                    </td>
                    <td>La procédure <strong>[Demande d'extrait d'acte de naissance]</strong> a été suspendue.</td>
                    <td>Aujourd'hui, 15:08</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-success">
                        <i class="fa fa-long-arrow-up fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-success">
                        <strong>Mise en ligne document</strong>
                      </span>
                    </td>
                    <td>Votre document <strong>[CNI.pdf]</strong> a bien été envoyé à notre équipe.</td>
                    <td>Aujourd'hui, 16:08</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-success">
                        <i class="fa fa-long-arrow-up fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-success">
                        <strong>Mise à jour statut</strong>
                      </span>
                    </td>
                    <td>La procédure <strong>[Demande de carte grise]</strong> a été démarrée.</td>
                    <td>Aujourd'hui, 16:05</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-danger">
                        <i class="fa fa-long-arrow-down fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-danger">
                        <strong>Mise à jour statut</strong>
                      </span>
                    </td>
                    <td>La procédure <strong>[Demande d'extrait d'acte de naissance]</strong> a été suspendue.</td>
                    <td>Aujourd'hui, 15:08</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-success">
                        <i class="fa fa-long-arrow-up fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-success">
                        <strong>Mise en ligne document</strong>
                      </span>
                    </td>
                    <td>Votre document <strong>[CNI.pdf]</strong> a bien été envoyé à notre équipe.</td>
                    <td>Aujourd'hui, 16:08</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-success">
                        <i class="fa fa-long-arrow-up fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-success">
                        <strong>Mise à jour statut</strong>
                      </span>
                    </td>
                    <td>La procédure <strong>[Demande de carte grise]</strong> a été démarrée.</td>
                    <td>Aujourd'hui, 16:05</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-danger">
                        <i class="fa fa-long-arrow-down fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-danger">
                        <strong>Mise à jour statut</strong>
                      </span>
                    </td>
                    <td>La procédure <strong>[Demande d'extrait d'acte de naissance]</strong> a été suspendue.</td>
                    <td>Aujourd'hui, 15:08</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-success">
                        <i class="fa fa-long-arrow-up fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-success">
                        <strong>Mise en ligne document</strong>
                      </span>
                    </td>
                    <td>Votre document <strong>[CNI.pdf]</strong> a bien été envoyé à notre équipe.</td>
                    <td>Aujourd'hui, 16:08</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-success">
                        <i class="fa fa-long-arrow-up fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-success">
                        <strong>Mise à jour statut</strong>
                      </span>
                    </td>
                    <td>La procédure <strong>[Demande de carte grise]</strong> a été démarrée.</td>
                    <td>Aujourd'hui, 16:05</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-danger">
                        <i class="fa fa-long-arrow-down fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-danger">
                        <strong>Mise à jour statut</strong>
                      </span>
                    </td>
                    <td>La procédure <strong>[Demande d'extrait d'acte de naissance]</strong> a été suspendue.</td>
                    <td>Aujourd'hui, 15:08</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-success">
                        <i class="fa fa-long-arrow-up fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-success">
                        <strong>Mise en ligne document</strong>
                      </span>
                    </td>
                    <td>Votre document <strong>[CNI.pdf]</strong> a bien été envoyé à notre équipe.</td>
                    <td>Aujourd'hui, 16:08</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-success">
                        <i class="fa fa-long-arrow-up fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-success">
                        <strong>Mise à jour statut</strong>
                      </span>
                    </td>
                    <td>La procédure <strong>[Demande de carte grise]</strong> a été démarrée.</td>
                    <td>Aujourd'hui, 16:05</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-danger">
                        <i class="fa fa-long-arrow-down fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-danger">
                        <strong>Mise à jour statut</strong>
                      </span>
                    </td>
                    <td>La procédure <strong>[Demande d'extrait d'acte de naissance]</strong> a été suspendue.</td>
                    <td>Aujourd'hui, 15:08</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-success">
                        <i class="fa fa-long-arrow-up fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-success">
                        <strong>Mise en ligne document</strong>
                      </span>
                    </td>
                    <td>Votre document <strong>[CNI.pdf]</strong> a bien été envoyé à notre équipe.</td>
                    <td>Aujourd'hui, 16:08</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-success">
                        <i class="fa fa-long-arrow-up fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-success">
                        <strong>Mise à jour statut</strong>
                      </span>
                    </td>
                    <td>La procédure <strong>[Demande de carte grise]</strong> a été démarrée.</td>
                    <td>Aujourd'hui, 16:05</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-danger">
                        <i class="fa fa-long-arrow-down fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-danger">
                        <strong>Mise à jour statut</strong>
                      </span>
                    </td>
                    <td>La procédure <strong>[Demande d'extrait d'acte de naissance]</strong> a été suspendue.</td>
                    <td>Aujourd'hui, 15:08</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-success">
                        <i class="fa fa-long-arrow-up fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-success">
                        <strong>Mise en ligne document</strong>
                      </span>
                    </td>
                    <td>Votre document <strong>[CNI.pdf]</strong> a bien été envoyé à notre équipe.</td>
                    <td>Aujourd'hui, 16:08</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-success">
                        <i class="fa fa-long-arrow-up fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-success">
                        <strong>Mise à jour statut</strong>
                      </span>
                    </td>
                    <td>La procédure <strong>[Demande de carte grise]</strong> a été démarrée.</td>
                    <td>Aujourd'hui, 16:05</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-danger">
                        <i class="fa fa-long-arrow-down fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-danger">
                        <strong>Mise à jour statut</strong>
                      </span>
                    </td>
                    <td>La procédure <strong>[Demande d'extrait d'acte de naissance]</strong> a été suspendue.</td>
                    <td>Aujourd'hui, 15:08</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-success">
                        <i class="fa fa-long-arrow-up fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-success">
                        <strong>Mise en ligne document</strong>
                      </span>
                    </td>
                    <td>Votre document <strong>[CNI.pdf]</strong> a bien été envoyé à notre équipe.</td>
                    <td>Aujourd'hui, 16:08</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-success">
                        <i class="fa fa-long-arrow-up fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-success">
                        <strong>Mise à jour statut</strong>
                      </span>
                    </td>
                    <td>La procédure <strong>[Demande de carte grise]</strong> a été démarrée.</td>
                    <td>Aujourd'hui, 16:05</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-danger">
                        <i class="fa fa-long-arrow-down fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-danger">
                        <strong>Mise à jour statut</strong>
                      </span>
                    </td>
                    <td>La procédure <strong>[Demande d'extrait d'acte de naissance]</strong> a été suspendue.</td>
                    <td>Aujourd'hui, 15:08</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-success">
                        <i class="fa fa-long-arrow-up fa-fw"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-success">
                        <strong>Mise en ligne document</strong>
                      </span>
                    </td>
                    <td>Votre document <strong>[CNI.pdf]</strong> a bien été envoyé à notre équipe.</td>
                    <td>Aujourd'hui, 16:08</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- User Table Card-->
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <app-footer></app-footer>
  </body>
  