<div class="wrapper">
  <form class="form-signin">       
    <h2 class="form-signin-heading">Connectez-vous</h2>
    <input type="text" class="form-control" name="username" placeholder="Adresse mail" required="" autofocus="" />
    <input type="password" class="form-control" name="password" placeholder="Mot de passe" required=""/>      
    <a href="#">Mot de passe oublié</a>
    <label class="checkbox">
      <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
  </form>
</div>
