<div class="container">    
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">Connexion</div>
    <div class="card-body">
      <form #formLogin="ngForm" (ngSubmit)="submitForm(formLogin)">
        <div class="form-group">
          <label for="exampleInputEmail1">Nom d'utilisateur</label>
          <input class="form-control" name="username" type="text" placeholder="Entrez votre nom d'utilisateur" [(ngModel)]="user.username" >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Mot de passe</label>
          <input class="form-control" name="password" type="password" placeholder="Mot de passe" [(ngModel)]="user.password" >
        </div>
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox">Se souvenir de moi</label>
          </div>
        </div>
        <input class="form-control" name="_id" type="hidden" placeholder="" [(ngModel)]="user._id" >
        <button class="btn btn-primary btn-block connexion" type="submit" name="connexion" >Se connecter</button>
      </form>
      <div class="text-center">
        <a class="d-block small mt-3" routerLink="/s-inscrire">S'inscrire</a>
        <a class="d-block small" routerLink="/mot-de-passe-oublie">Mot de passe oublié ?</a>
      </div>
    </div>
  </div>
</div>
