<body class="sticky-footer bg-dark" id="page-top">
  <app-nav-user></app-nav-user>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Mon coffre</li>
      </ol>
      <!-- Icon Cards-->
      <div class="row">
        <div class="col-lg-12">
          <!-- Example Bar Chart Card-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-bar-chart"></i> Nombre de documents stockés</div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-8 my-auto">
                  <canvas id="bar-chart-docs" width="100" height="50"></canvas>
                </div>
                <div class="col-sm-4 text-center my-auto">
                  <div class="h4 mb-0 text-primary">65</div>
                  <div class="small text-muted">Factures</div>
                  <hr>
                  <div class="h4 mb-0 text-warning">55</div>
                  <div class="small text-muted">Documents officiels</div>
                  <hr>
                  <div class="h4 mb-0 text-success">55</div>
                  <div class="small text-muted">Documents admnistratifs</div>
                </div>
              </div>
            </div>
            <div class="card-footer small text-muted">Mise à jour at 23:59</div>
          </div>
        </div>
      </div>
      <!-- ./End Icon Cards-->
      <!-- User Table Card-->
      <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-table"></i> Factures (65)
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="bills-table" width="100%" cellspacing="0">
                <thead>
                  <tr>
                      <th>Type</th>
                      <th>Nom</th>
                      <th>Taille</th>
                      <th>Visionner</th>
                      <th>Date de modification</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                      <th>Type</th>
                      <th>Nom</th>
                      <th>Taille</th>
                      <th>Visionner</th>
                      <th>Date de modification</th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr>
                      <td><i class="fa fa-file-pdf-o"></i></td>
                      <td>FNAC_2017-07-04_0014.pdf</td>
                      <td>550 ko</td>
                      <td><i class="fa fa-download"></i></td>
                      <td>20/11/2017</td>
                  </tr>
                  <tr>
                      <td><i class="fa fa-file-image-o"></i></td>
                      <td>0011558522_Amazon.jpeg</td>
                      <td>550 ko</td>
                      <td><i class="fa fa-download"></i></td>
                      <td>20/11/2017</td>
                  </tr>
                  <tr>
                      <td><i class="fa fa-file-text"></i></td>
                      <td>Copie mail facture Boulanger.txt</td>
                      <td>550 ko</td>
                      <td><i class="fa fa-download"></i></td>
                      <td>20/11/2017</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Mise à jour hier à 23h59</div>
        </div>
        <!-- User Table Card-->
      <!-- User Table Card-->
      <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-table"></i> Documents officiels (55)
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="official-table" width="100%" cellspacing="0">
                <thead>
                  <tr>
                      <th>Type</th>
                      <th>Nom</th>
                      <th>Taille</th>
                      <th>Visionner</th>
                      <th>Date de modification</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                      <th>Type</th>
                      <th>Nom</th>
                      <th>Taille</th>
                      <th>Visionner</th>
                      <th>Date de modification</th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr>
                      <td><i class="fa fa-file-pdf-o"></i></td>
                      <td>FNAC_2017-07-04_0014.pdf</td>
                      <td>550 ko</td>
                      <td><i class="fa fa-download"></i></td>
                      <td>20/11/2017</td>
                  </tr>
                  <tr>
                      <td><i class="fa fa-file-image-o"></i></td>
                      <td>0011558522_Amazon.jpeg</td>
                      <td>550 ko</td>
                      <td><i class="fa fa-download"></i></td>
                      <td>20/11/2017</td>
                  </tr>
                  <tr>
                      <td><i class="fa fa-file-text"></i></td>
                      <td>Copie mail facture Boulanger.txt</td>
                      <td>550 ko</td>
                      <td><i class="fa fa-download"></i></td>
                      <td>20/11/2017</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Mise à jour hier à 23h59</div>
        </div>
        <!-- User Table Card-->
      <!-- User Table Card-->
      <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-table"></i> Documents admnistratifs (55)
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="admnistrative-table" width="100%" cellspacing="0">
                <thead>
                  <tr>
                      <th>Type</th>
                      <th>Nom</th>
                      <th>Taille</th>
                      <th>Visionner</th>
                      <th>Date de modification</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                      <th>Type</th>
                      <th>Nom</th>
                      <th>Taille</th>
                      <th>Visionner</th>
                      <th>Date de modification</th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr>
                      <td><i class="fa fa-file-pdf-o"></i></td>
                      <td>FNAC_2017-07-04_0014.pdf</td>
                      <td>550 ko</td>
                      <td><i class="fa fa-download"></i></td>
                      <td>20/11/2017</td>
                  </tr>
                  <tr>
                      <td><i class="fa fa-file-image-o"></i></td>
                      <td>0011558522_Amazon.jpeg</td>
                      <td>550 ko</td>
                      <td><i class="fa fa-download"></i></td>
                      <td>20/11/2017</td>
                  </tr>
                  <tr>
                      <td><i class="fa fa-file-text"></i></td>
                      <td>Copie mail facture Boulanger.txt</td>
                      <td>550 ko</td>
                      <td><i class="fa fa-download"></i></td>
                      <td>20/11/2017</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Mise à jour hier à 23h59</div>
        </div>
        <!-- User Table Card-->
    </div>
  </div>
  <!-- /.container-fluid-->
  <!-- /.content-wrapper-->
  <app-footer></app-footer>
</body>
