<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">My Dashboard</li>
    <li class="breadcrumb-item active">{{user.username}}</li>
  </ol>
  <!-- Icon Cards-->
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-primary o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fa-fw fa-comments"></i>
          </div>
          <div class="mr-5">2 nouveaux messages</div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="#">
          <span class="float-left">Voir les messages</span>
          <span class="float-right">
            <i class="fa fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-warning o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fa-fw fa-list"></i>
          </div>
          <div class="mr-5">175 documents stockés</div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="#">
          <span class="float-left">Voir les détails</span>
          <span class="float-right">
            <i class="fa fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-success o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fa-fw fa-check"></i>
          </div>
          <div class="mr-5">11 procédures terminées</div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="#">
          <span class="float-left">Voir les détails</span>
          <span class="float-right">
            <i class="fa fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-danger o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fa-fw fa-support"></i>
          </div>
          <div class="mr-5">2 statuts doivent être vérifiés</div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="#">
          <span class="float-left">Voir les détails</span>
          <span class="float-right">
            <i class="fa fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <!-- Example Bar Chart Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-bar-chart"></i> Nombre de documents stockés</div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-8 my-auto">
              <canvas id="bar-chart-docs" width="100" height="50"></canvas>
            </div>
            <div class="col-sm-4 text-center my-auto">
              <div class="h4 mb-0 text-primary">65</div>
              <div class="small text-muted">Factures</div>
              <hr>
              <div class="h4 mb-0 text-warning">55</div>
              <div class="small text-muted">Documents officiels</div>
              <hr>
              <div class="h4 mb-0 text-success">55</div>
              <div class="small text-muted">Documents admnistratifs</div>
            </div>
          </div>
        </div>
        <div class="card-footer small text-muted">Mise à jour at 23:59</div>
      </div>
    </div>
    <div class="col-lg-4">
      <!-- Example Notifications Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-bell-o"></i>Derniers messages</div>
        <div class="list-group list-group-flush small">
          <a class="list-group-item list-group-item-action" href="#">
            <div class="media">
              <img class="d-flex mr-3" src="/assets/img/4.png" alt="">
              <div class="media-body">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <strong>L'équipe de juriste</strong>vous a envoyé un
                <strong>Nouveau message</strong>.
                <div class="text-muted smaller">Aujourd'hui à 15:08 - il y a 5m</div>
              </div>
            </div>
          </a>
          <a class="list-group-item list-group-item-action" href="#">
            <div class="media">
              <img class="d-flex mr-3" src="/assets/img/4.png" alt="">
              <div class="media-body">
                <i class="fa fa-code-fork"></i>
                <strong>[admin] : </strong>Votre document a bien été envoyé à notre équipe de juriste.
                Nous vous recontacterons prochainement
                <div class="text-muted smaller">Aujourd'hui à 14:02 - il y a 1h</div>
              </div>
            </div>
          </a>
          <a class="list-group-item list-group-item-action" href="#">
            <div class="media">
              <img class="d-flex mr-3" src="/assets/img/4.png" alt="">
              <div class="media-body">
                <i class="fa fa-code-fork"></i>
                <strong>Mon coffre fort </strong>Vous avez confirmé la suppression de
                <strong>CNI.pdf</strong>.
                <div class="text-muted smaller">Aujourd'hui à 12:55 - il y a 2h</div>
              </div>
            </div>
          </a>
          <a class="list-group-item list-group-item-action" href="#">
            <div class="media">
              <img class="d-flex mr-3" src="/assets/img/4.png" alt="">
              <div class="media-body">
                <i class="fa fa-envelope-open" aria-hidden="true"></i>
                <strong>L'équipe de juriste </strong>confirme la prise en charge 
                de votre demande <strong>Carte Grise </strong>.
                <div class="text-muted smaller">Aujourd'hui à 10:12 - il y a 5h</div>
              </div>
            </div>
          </a>
          <a class="list-group-item list-group-item-action" href="#">Voir tous les messages</a>
        </div>
        <div class="card-footer small text-muted">Mise à jour at 23:59</div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid-->
<!-- /.content-wrapper-->
<app-footer></app-footer>   
  