<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top" id="mainNav">
  <a class="navbar-brand" href="/dashboard">G.A.D</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="ged-navbar-sidenav">
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#safe-deposit-box" data-parent="#ged-navbar-sidenav">
          <i class="fa fa-fw fa-sitemap"></i>
          <span class="nav-link-text">Nouvel utilisateur</span>
        </a>
        <ul class="sidenav-second-level collapse" id="safe-deposit-box">
            <li>
              <a href="/register">S'inscrire</a>
            </li>
          <li>
            <a href="/dashboard">Se connecter</a>
          </li>
          <li>
            <a href="/forget-password">Mot de passe oublié</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          <i class="fa fa-fw fa-angle-left"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
  