<body class="sticky-footer bg-light" id="page-top">
  <app-nav-user></app-nav-user>
  <div class="content-wrapper">
    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Se déconnecter</div>
        <div class="card-body">
          <div class="text-center mt-4 mb-5">
            <h4>Vous souhaitez vous déconnecter</h4>
            <p>Selectionnez le bouton "Se déconnecter" pour quitter la session courante</p>
          </div>
          <form>          
            <button class="btn btn-primary btn-block connexion" type="submit" name="connexion" >Se déconnecter</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>