<nav class="navbar navbar-expand-lg navbar-light bg-light static-top" id="mainNav">
  <a class="navbar-brand" routerLink="/dashboard">G.A.D</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="ged-navbar-sidenav">
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
        <a class="nav-link" routerLink="/dashboard">
          <i class="fa fa-fw fa-dashboard"></i>
          <span class="nav-link-text">Tableau de bord</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#user-menu" data-parent="#ged-navbar-sidenav">
          <i class="fa fa-fw fa-user"></i>
          <span class="nav-link-text">Profil</span>
        </a>
        <ul class="sidenav-second-level collapse" id="user-menu">
          <li>
            <a routerLink="/profil">Profil</a>
          </li>
          <li>
            <a routerLink="/se-deconnecter">Se deconnecter</a>
          </li>
        </ul>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#safe-deposit-box-menu" data-parent="#ged-navbar-sidenav">
          <i class="fa fa-fw fa-lock"></i>
          <span class="nav-link-text">Coffre</span>
        </a>
        <ul class="sidenav-second-level collapse" id="safe-deposit-box-menu">
            <li>
              <a routerLink="/coffre">Consulter mes documents</a>
            </li>
          <li>
            <a routerLink="/coffre">Ajouter un document</a>
          </li>
          <li>
            <a routerLink="/coffre">Supprimer un document</a>
          </li>
        </ul>
      </li>          
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#online-process" data-parent="#ged-navbar-sidenav">
          <i class="fa fa-fw fa-cogs"></i>
          <span class="nav-link-text">Prodédures</span>
        </a>
        <ul class="sidenav-second-level collapse" id="online-process">
          <li>
            <a routerLink="/procedures">Nouvelle procédure</a>
          </li>
          <li>
            <a routerLink="/procedures">Procécures en cours</a>
          </li>
          <li>
            <a routerLink="/procedures">Procécures terminées</a>
          </li>
        </ul>
      </li>          
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#online-legaliste" data-parent="#ged-navbar-sidenav">
          <i class="fa fa-fw fa-comments"></i>
          <span class="nav-link-text">Juristes</span>
        </a>
        <ul class="sidenav-second-level collapse" id="online-legaliste">
          <li>
            <a routerLink="/messages">Mes messages</a>
          </li>
          <li>
            <a routerLink="/nouveau-message">Nouveau message</a>
          </li>
          <li>
            <a routerLink="/chat">Nouveau chat</a>
          </li>
        </ul>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
        <a class="nav-link" routerLink="/statuts">
          <i class="fa fa-fw fa-bell"></i>
          <span class="nav-link-text">Statuts</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          <i class="fa fa-fw fa-angle-left"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-fw fa-envelope"></i>
          <span class="d-lg-none">Messages
            <span class="badge badge-pill badge-primary">6 nouveaux</span>
          </span>
          <span class="indicator text-primary d-none d-lg-block">
            <i class="fa fa-fw fa-circle"></i>
          </span>
        </a>
        <div class="dropdown-menu" aria-labelledby="messagesDropdown">
          <h6 class="dropdown-header">Nouveaux messages</h6>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="#">
            <strong>L'équipe de juriste</strong>
            <span class="small float-right text-muted">15:08</span>
            <div class="dropdown-message small">
              <strong>L'équipe de juriste</strong>vous a envoyé un
              <strong>Nouveau message</strong>.
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="#">
            <strong>[admin] : </strong>
            <span class="small float-right text-muted">14:02</span>
            <div class="dropdown-message small">
              Votre document a bien été envoyé à notre équipe de juriste.
              Nous vous recontacterons prochainement.
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="#">
            <strong>Mon coffre fort </strong>
            <span class="small float-right text-muted">12:55 </span>
            <div class="dropdown-message small">Vous avez confirmé la suppression de
              <strong>CNI.pdf</strong>.
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item small" routerLink="/messages">Voir tous les messages</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-fw fa-bell"></i>
          <span class="d-lg-none">Statuts
            <span class="badge badge-pill badge-warning">6 nouveaux</span>
          </span>
          <span class="indicator text-warning d-none d-lg-block">
            <i class="fa fa-fw fa-circle"></i>
          </span>
        </a>
        <div class="dropdown-menu" aria-labelledby="alertsDropdown">
          <h6 class="dropdown-header">Alertes Procédures</h6>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="#">
            <span class="text-success">
              <strong>
                <i class="fa fa-long-arrow-up fa-fw"></i>Mise à jour statut</strong>
            </span>
            <span class="small float-right text-muted">16:05</span>
            <div class="dropdown-message small">La procédure [Demande de carte grise] a été démarrée.</div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="#">
            <span class="text-danger">
              <strong>
                <i class="fa fa-long-arrow-down fa-fw"></i>Mise à jour statut</strong>
            </span>
            <span class="small float-right text-muted">15:08</span>
            <div class="dropdown-message small">La procédure [Demande d'extrait d'acte de naissance] a été suspendue.</div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="#">
            <span class="text-success">
              <strong>
                <i class="fa fa-long-arrow-up fa-fw"></i>Mise en ligne document</strong>
            </span>
            <span class="small float-right text-muted">14:02</span>
            <div class="dropdown-message small">Votre document [CNI.pdf] a bien été envoyé à notre équipe.</div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item small" routerLink="/statuts">Voir tous les statuts..</a>
        </div>
      </li>
      <li class="nav-item">
        <form class="form-inline my-2 my-lg-0 mr-lg-2">
          <div class="input-group">
            <input class="form-control" type="text" placeholder="Rechercher...">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </form>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
          <i class="fa fa-fw fa-sign-out"></i>Se déconnecter</a>
      </li>
    </ul>
  </div>
</nav>
  