<body>  
  
      <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
          <a class="navbar-brand col-xs-12 text-center" routerLink="/dashboard">Gestion Administrative et Documentaire</a>
          <a class="btn btn-primary col-xs-6 col-xs-offset-3" routerLink="/dashboard">Se connecter</a>
        </div>
      </nav>
  
      <!-- Masthead -->
      <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-xl-9 mx-auto">
              <h1 class="mb-5">Solution de gestion documentaire sécurisée <br/>et de gestion de procédures admnistratives.</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <form>
                <form class="form-row" #formHomeSignUp="ngForm" (ngSubmit)="submitForm(formHomeSignUp)">
                  <div class="col-12 col-md-9 mb-2 mb-md-0">
                    <input type="email" name="username" class="form-control form-control-lg" [(ngModel)]="signUpUser.usermail" placeholder="Entrer votre adresse mail...">
                  </div>
                  <div class="col-12 col-md-3">
                    <button type="submit" class="btn btn-block btn-lg btn-primary" routerLink="/s-inscrire">S'inscrire</button>
                  </div>
                </form>
              </form>
            </div>
          </div>
        </div>
      </header>
  
      <!-- Icons Grid -->
      <section class="features-icons bg-light text-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <div class="features-icons-icon d-flex">
                  <i class="icon-screen-desktop m-auto text-primary"></i>
                </div>
                <h3>Design Responsive</h3>
                <p class="lead mb-0">Application adaptée à tous les appareils: mobiles, tablettes, ordinateurs...</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <div class="features-icons-icon d-flex">
                  <i class="icon-layers m-auto text-primary"></i>
                </div>
                <h3>Services à la carte</h3>
                <p class="lead mb-0">Service de gestion de procédures admnistratives en ligne par nos juristes !</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                <div class="features-icons-icon d-flex">
                  <i class="icon-check m-auto text-primary"></i>
                </div>
                <h3>Simple et Securisé</h3>
                <p class="lead mb-0">Des conseillers disponibles et un coffre-fort numérique sécurisé !</p>
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <!-- Image Showcases -->
      <section class="showcase">
        <div class="container-fluid p-0">
          <div class="row no-gutters">
  
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-1.jpg');">
              <div class="overlay"></div>
            </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
              <h2>Design totalement responsive</h2>
              <p class="lead mb-0">Vous pouvez acceder à ce service depuis n'importe quel appareil. Que vous soyez sur un téléphone mobile, une tablette ou un ordinateur, accedez à vos documents et à nos conseillers !</p>            
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-2.jpg');">
              <div class="overlay"></div>
            </div>
            <div class="col-lg-6 my-auto showcase-text">
              <h2>Gestion de procédures</h2>
              <p class="lead mb-0">Accédez à un service de gestion de procédures administratives en ligne et en toute sécurité. Liberez vous de vos démarches les plus chronophages en faisant appelle à nos juristes.</p>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-3.jpg');">
              <div class="overlay"></div>
            </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
              <h2>Service simple et sécurisé</h2>
              <p class="lead mb-0">Bénéficiez des dernières technologies du web et d'un support mise à votre service pour vous proposez une solution sécurisée selon les derniers standards d'internet et simple d'utilisation.</p> 
            </div>
          </div>
        </div>
      </section>
  
      <!-- Testimonials -->
      <section class="testimonials text-center bg-light">
        <div class="container">
          <h2 class="mb-5">Ils ont choisi notre solution</h2>
          <div class="row">
            <div class="col-lg-4">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="/assets/img/testimonial_1.jpg" alt="">
                <h5>Ryan G.</h5>
                <p class="font-weight-light mb-0">"Simple et efficace ! Beau boulot les gars !"</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="/assets/img/testimonial_2.jpg" alt="">
                <h5>Samuel W.</h5>
                <p class="font-weight-light mb-0">"Superbe concept ! Je n'ai plus à me deplacer pour mes démarches !"</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="/assets/img/testimonial_3.jpg" alt="">
                <h5>Caesar</h5>
                <p class="font-weight-light mb-0">"J'utilise maintenant ce site pour stocker mes factures et mes documents importants !"</p>
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <!-- Call to Action -->
      <section class="call-to-action text-white text-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-xl-9 mx-auto">
              <h2 class="mb-4">Prêt à démarrer, inscrivez-vous !</h2>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <form>
                <div class="form-row">
                  <div class="col-12 col-md-9 mb-2 mb-md-0">
                    <input type="email" class="form-control form-control-lg" placeholder="Entrez votre adresse mail...">
                  </div>
                  <div class="col-12 col-md-3">
                    <button type="submit" class="btn btn-block btn-lg btn-primary" routerLink="/s-inscrire">S'inscrire</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
  
      <!-- Footer -->
      <footer class="footer bg-light">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
              <ul class="list-inline mb-2">
                <li class="list-inline-item">
                  <a routerLink="/">Accueil</a>
                </li>
                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                  <a routerLink="/dashboard">Espace Personnel</a>
                </li>
                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                  <a routerLink="/conditions-generales">Conditions générales</a>
                </li>
                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                  <a routerLink="/mentions-legales">Mentions légales</a>
                </li>
              </ul>
              <p class="text-muted small mb-4 mb-lg-0">&copy; G.A.D @ Zero Sum Dev 2017. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
              <ul class="list-inline mb-0">
                <li class="list-inline-item mr-3">
                  <a href="#">
                    <i class="fa fa-facebook fa-2x fa-fw"></i>
                  </a>
                </li>
                <li class="list-inline-item mr-3">
                  <a href="#">
                    <i class="fa fa-twitter fa-2x fa-fw"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-instagram fa-2x fa-fw"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </body>