<body class="sticky-footer bg-dark" id="page-top">
  <app-nav-visitor></app-nav-visitor>
  <div class="content-wrapper">
    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Renouveler le mot de passe</div>
        <div class="card-body">
          <div class="text-center mt-4 mb-5">
            <h4>Mot de passe oublié ?</h4>
            <p>Entrez votre adresse mail, et nous vous enverrons les instructions pour renouveler votre mot de passe</p>
          </div>
          <form>
            <div class="form-group">
              <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Entrez votre adresse mail...">
            </div>
            <a class="btn btn-primary btn-block" routerLink="/renouveler-mot-de-passe">Renouveler le mot de passe</a>
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" routerLink="/s-inscrire">S'inscrire</a>
            <a class="d-block small" routerLink="/dashboard">Se connecter</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
