<body class="sticky-footer bg-dark toogled sidenav-toggled" id="page-top">
  <app-nav-visitor></app-nav-visitor>
  <div class="content-wrapper">
    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Reset Password</div>
        <div class="card-body">
          <div class="text-center mt-4 mb-5">
            <h4>Mot de passe oublié ?</h4>
            <p>Entrez votre adresse mail, et nous vous enverrons les instructions pour renouveller votre mot de passe</p>
          </div>
          <form>
            <div class="form-group">
              <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email address">
            </div>
            <a class="btn btn-primary btn-block" routerLink="/reset-password"></a>
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" routerLink="/register">S'inscrire</a>
            <a class="d-block small" routerLink="/dashboard">Se connecter</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
